*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

p{
    color: grey;
}

#heading{
    text-transform: uppercase;
    color: #673AB7;
    font-weight: normal;
}

#msform{
    text-align: center;
    position: relative;
    margin-top: 10px;
}



.form-card{
    text-align: center;
}

#msform fieldset:not(:first-of-type){
    display: none;
}




#msform .action-button{
    width: 100px;
    background: #019934;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right;
}
#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #0d5c32
}

#msform .action-button-previous {
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px 10px 0px;
    float: right
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 25px;
    color: #673AB7;
    margin-bottom: 15px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #673AB7;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    color: gray;
    text-align: left
}

.heading-text {
    text-align: left !important;
}
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: lightgrey
}

#progressbar .active {
    color: #198754
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 16%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #employment:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f0d6"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f0c0"
}

#progressbar #confirmation:before {
    font-family: FontAwesome;
    content: "\f022"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}
#success #sucspan:before {
    font-family: FontAwesome;
    content: "\f05d";
    font-size: 400%;
}

#progressbar li:before {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: block;
    font-size: 13px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #3ab74f
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #673AB7
}

.fit-image {
    width: 100%;
    object-fit: cover
}


